.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: #a0d4ff;
  grid-gap: 0.1vh;
  border: 0.7vh solid black;
  width: 80vh;
  margin: 10vh 50vh;
  border-radius: 1px;
}
h3 {
  font-size: 10vh;
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0.2vh 0.2vh 0.4vh #000000;
  text-align: center;
}
.item {
  width: 9.5vh;
  height: 9.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.black {
  background-color: rgb(230, 230, 230);
}
.white {
  background-color: white;
}
.fas {
  pointer-events: none;
}

.fa-chess-knight {
  font-size: 6vh;
  color: #0057f8;
}
.fa-chess-bishop {
  font-size: 6vh;
  color: #0057f8;
}
.messagebox {
  text-align: center;
}
.message {
  font-size: 2vh;
  color: #0057f8;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1px;
  text-shadow: 2px 2px 7px rgb(117, 117, 117);
}
.icon {
  font-size: 5vh;
  color: #00f821;
  text-shadow: 1px 2px 4px #2bff18;
  padding: 2px;
}

.inactive {
  font-size: 7vh;
  text-shadow: 2px 2px 4px #fc3a3a;
  opacity: 0.5;
}
.note {
  font-size: 5vh;
}
.notes {
  font-size: 3vh;
  color: crimson;
}
.by {
  margin-top: 3vh;
  text-align: center;
  font-size: 3vh;
  color: #888888;
}
